<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HotHut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3C2475E1BCF1EC500196AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3C247721BCF1EC500196AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3C2477D1BCF1EC600196AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
